services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: valentine
      POSTGRES_PASSWORD: valentine
      POSTGRES_DB: valentine
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

